[submodule "vendor/SDL2"]
	path = vendor/SDL2
	url = https://github.com/libsdl-org/SDL
[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL
	branch = SDL2
[submodule "vendor/freetype"]
	path = vendor/freetype
	url = https://github.com/freetype/freetype
[submodule "vendor/glew"]
	path = vendor/glew
	url = https://github.com/Perlmint/glew-cmake/
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw
